.contact-container{
  // height: 100%;
    // max-height: 100vh;
    // margin-bottom: 0;
    // padding-bottom: 0;
}

.contact{
  display: flex;
  flex-direction: row;
  width: 100%;
  
  height: 100vh;

  
  .zone{
    display: flex;
    flex-direction: column;
    width: 50%;
    .letters{
      padding-top: 4px;
      margin-left: 35px;
    }
    .parg{
      padding-top: 20px;
      .contact-info-p{
        font-size: 30px;
       
        
        // color: #3f0d2e;
        margin-bottom: 20px;
        font-weight: 300;
      }
      
    }
    .form{    
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      padding-left: 10%;
      margin-top: 20px;
        
        .form-l{
          width: 100%;
          .name-email{
            display: flex;
          }
          
        .half{  
            margin-bottom: 10px;
            opacity: 0;
            overflow: hidden;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
           
          }
        
       div.half{
           margin: 10px;
           &:first-child {
             margin: 0;
           }
      }
    }
        
      
    }
    input[name="user_name"],
  input[name="email"], input[name="subject"]{
 
    border: 0;
    background: #3f0d2e;
    height: 50px;
    font-size: 16px;

    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 20px;
    
  }
  input[name="subject"]{
    width: 80%;
    margin-left: 60px;
  }
  input[name="user_name"]{
    margin-left: 60px;
    width:36%;
    
  }
  input[name="email"]{
    margin-left: 8%;
    width: 36%;
  
  }

  textarea {
    width: 80%;
    border: 0;
    background: #3f0d2e;
    height: 100px;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
    margin-left: 60px;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 10px;
  }
  .flat-button {
    font-size: 13px;
    padding: 8px 10px;
    float: left;
    float: right;
    margin-right: 250px;
    
  }   
  }  
  
}



h1{
  font-size: 53px;
  font-family: 'Coolveetica';
  color: #3f0d2e;
  font-weight: 400;
  position: relative;
  margin-bottom: 40px;
  left: 10px;
  padding-top: 20px;
  margin-left: 30%;

}
.map-wrap {
  
  float: right;
  width: 50%;
  // height: 115%;
  // margin-top: -3%;
  padding: 2px;
}

.leaflet-container {
  // position: relative;
  width: 100%;
  height: 100vh;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;

}

.info-map {
  // position: absolute;
  background: #000;
  top: 50px;
  right: 30%;
  z-index: 999999;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;

  span {
    font-size: 16px;

  }
}
.contact-info-p{
  font-size: 30px;
  padding-left: 100px;
}
.letters{
  padding-left: 60px;
  padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .contact{
    display: flex;
    flex-direction: column;

    .zone{
       width: 100%;
      .letters{
        font-size:30px;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      .parg{
        display: flex;
        margin-left: 10px;
        .contact-info-p{
          font-size: 28px;
          width: 100%;
          font-weight: 300;
          
      
        }
      }
    }
  }
  .form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 20px;
      .form-l{
        width: 100%;
     div.half{
         margin-left: 10px;
         &:first-child {
           margin: 0;
         }
    }
  }

    
  }
  .map-wrap {
    width: 100%;
  }
  

}
@media screen and (max-width:576px) {
  .contact-container{
    // margin-top: 10%;
    //  height: 100vh ;
  
  .contact{
    display: flex;
    flex-direction: column;
    // height: 100vh;
    // margin-top: 10%;
    
    .zone{
      // display: flex;
      // flex-direction: column;
      width: 100%;
      
      .letters{
        font-size:30px;
        margin-top: 20px;
        padding-bottom: 0;
        margin-bottom: 10px;
      }
      .parg{
        display: flex;
        margin: 2%;
        .contact-info-p{
         
          font-size: 30px;
          width: 100%;
          font-weight: 300;
          margin-bottom: 0;
          padding-bottom: 0px;
          // color: #fff;
         color: rgb(67, 15, 15);
        }
      }
     
}
.map-wrap {
   width: 100%;


  .leaflet-container{
   
    height: 400px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 10%;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 30px;

  }
}
// .contact .zone .form {
//   margin: 0;
// }

  }
  input[name="subject"]{
    width: 50%;
    margin-left: 10px;
    
  }
  input[name="user_name"]{
    margin-left: 10px;
    width:36%
  }
  input[name="email"]{
    margin-left: 4%;
    width: 36%;
  
  }
  

}
}