.footer{
  background-color: #BEB3B4;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 24px;
  width: 100%;
  font-size: 24px;
  z-index: 5;
display: flex;
justify-content: center;
align-items: center;
span{
 padding-right:30px;
}

  

}

// @media screen and (min-width: 850px) {
//   .footer{
//    display: none;
   
//   }
// }
