*{
  margin: 0;
  padding: 0;
}

html{
  font-size:62.5% ;

  /* color: rgb(160, 160, 224); */
  /* scroll-behavior: smooth; */
  /* height: 100vh; */
  
}

body {
  
  height: 100%;
   font: 300 11px/1.4 'Helvetica Neue','sans-serif';
  color: #4444; 
 
  background: rgba(255, 167, 167, 0.4039215686);
   overflow-y:scroll; 
   overflow-x: hidden; 

  /* overflow: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
   /* scroll-behavior: smooth; */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
